h2 {
    color: #c27660;
}
.thirdcard {
    width: 250px;
}
h1{
    border-bottom: 2px solid   aquamarine;
    text-align: center; 
}
body{
    background-color: #faf2e3;
}
.maincard{
    margin: auto;
    width: 1000px;
}
img {
    margin-left: 400px;
}